<div class="form-container">
  <div class="sign-img">
    <%= image_tag 'car-engine.png' %>
  </div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render 'devise/shared/error_messages', resource: resource %>

    <div class="form-group">
      <%= f.email_field :email, class: 'form-control', required: true, placeholder: 'Почта' %>
    </div>

    <div class="form-group">
      <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', required: true, placeholder: 'Пароль' %>
    </div>

    <div class="form-group">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', required: true, placeholder: 'Подтвердить пароль' %>
    </div>

    <div class="form-group">
      <%= f.submit "Создать аккаунт", data: { disable_with: 'Create...' }, class: 'btn btn-s' %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>