<div class="header">
	<div class="header-image"><%= cl_image_tag(Setting.first.image.path, { size: '100x100', crop: :thumb, dpr: 3.0 }) %></div>
	<div class="header-title"><%= Setting.first.title %></div>
</div>
<div class="contacts">
	<% if Setting.first.phone.present? %>
		<div class="phone">
			<%= number_to_phone(Setting.first.phone, area_code: true) %>
		</div>
	<% end %>
	<div class="social-flex">
		<% if Setting.first.whatsapp.present? %>
			<a target="_blank" href="https://wa.me/<%= Setting.first.whatsapp %>">
				<div class="social">
					<%= image_tag 'whatsapp.png', class: 'image' %>
				</div>
			</a>
		<% end %>
		<% if Setting.first.viber.present? %>
			<a target="_blank" href="viber://chat&number=<%= Setting.first.viber %>">
				<div class="social">
					<%= image_tag 'viber.png', class: 'image' %>
				</div>
			</a>
		<% end %>
		<% if Setting.first.telegram.present? %>
			<a target="_blank" href="tg://resolve?domain=<%= Setting.first.telegram %>">
				<div class="social">
					<%= image_tag 'telegram.png', class: 'image' %>
				</div>
			</a>
		<% end %>
	</div>
</div>
<div class="description">
	СРОЧНАЯ ТЕХНИЧЕСКАЯ ПОМОЩЬ ЗА 20 МИНУТ
</div>
<div class="services">
	<%= render @services %>
</div>
<div class="contacts">
	<% if Setting.first.phone.present? %>
		<div class="phone">
			<%= number_to_phone(Setting.first.phone, area_code: true) %>
		</div>
	<% end %>
	<div class="social-flex">
		<% if Setting.first.whatsapp.present? %>
			<a target="_blank" href="https://wa.me/<%= Setting.first.whatsapp %>">
				<div class="social">
					<%= image_tag 'whatsapp.png', class: 'image' %>
				</div>
			</a>
		<% end %>
		<% if Setting.first.viber.present? %>
			<a target="_blank" href="viber://chat&number=<%= Setting.first.viber %>">
				<div class="social">
					<%= image_tag 'viber.png', class: 'image' %>
				</div>
			</a>
		<% end %>
		<% if Setting.first.telegram.present? %>
			<a target="_blank" href="tg://resolve?domain=<%= Setting.first.telegram %>">
				<div class="social">
					<%= image_tag 'telegram.png', class: 'image' %>
				</div>
			</a>
		<% end %>
	</div>
</div>