<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Подорожник</title>
    <meta name="description" content="СРОЧНАЯ ТЕХНИЧЕСКАЯ ПОМОЩЬ ЗА 20 МИНУТ" />
    <meta property="og:title" content="Подорожник" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://podorozhnik-avto.help/" />
    <meta property="og:description" content="СРОЧНАЯ ТЕХНИЧЕСКАЯ ПОМОЩЬ ЗА 20 МИНУТ" />
    <meta property="og:site_name" content="Подорожник" />
    <meta property="og:image" content="<%= asset_path 'carservice.png' %>" />
    <%= favicon_link_tag 'favicon.ico' %>
    <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>  
    <%= csrf_meta_tags %>
    <style type="text/css">
      @font-face {
        font-family: "Batman";
        src: url('<%= asset_path '10322.eot' %>'); /* IE9 Compat Modes */
        src: url('<%= asset_path '10322.eot?#iefix' %>') format("embedded-opentype"), /* IE6-IE8 */
        url('<%= asset_path '10322.otf' %>') format("opentype"), /* Open Type Font */
        url('<%= asset_path '10322.svg' %>') format("svg"), /* Legacy iOS */
        url('<%= asset_path '10322.ttf' %>') format("truetype"), /* Safari, Android, iOS */
        url('<%= asset_path '10322.woff' %>') format("woff"), /* Modern Browsers */
        url('<%= asset_path '10322.woff2' %>') format("woff2"); /* Modern Browsers */
        font-weight: normal;
        font-style: normal;
      }
    </style>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= cloudinary_js_config %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>